/* flex line */

.flex-container {
    border: solid blue 1px;
    display: -webkit-flex;
    display: flex;
    width: 300px;
    height: 300px;
    /* not related */
    
    position: relative;
}

.flex-item {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
    /* not related */
    
    color: white;
    font-size: 20px;
}

.flexline {
    width: 270px;
    height: 20px;
    background: red;
    position: absolute;
    top: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
}

#triangle-right {
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 40px solid red;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 40px;
    left: 260px;
}
/* writing mode */

.flex-container.writingmode {
    direction: rtl;
}

.flexline.writingmode {
    left: 30px;
}

#triangle-left {
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-right: 40px solid red;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 40px;
    left: 0px;
}
/* main axis, cross axis */

.mainaxis {
    width: 270px;
    height: 20px;
    background: red;
    position: absolute;
    top: 140px;
    font-size: 20px;
    color: black;
    text-align: left;
}

.crossaxis {
    width: 20px;
    height: 280px;
    background: green;
    position: absolute;
    left: 140px;
    font-size: 20px;
    color: black;
    text-align: left;
    overflow-x: visible;
}

#triangle-right.mainaxisright {
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 40px solid red;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 130px;
    left: 260px;
}

#triangle-down {
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-top: 40px solid green;
    border-right: 20px solid transparent;
    position: absolute;
    top: 260px;
    left: 130px;
}