        body {
            box-sizing: border-box;
            color: white;
        }
        div {
            font-size: 1em;
        }
        #header {
            height: 80px;
            background-color: black;
        }    

        a {
            color: white;
        }
        
        #nav {
            height: 300px;
            width: 20%;
            background-color: DarkSlateGray;
            float: left;
        }
        
        #content {
            height: 300px;
            width: 80%;
            background-color: SlateGray;
            float: right;
        }
        
        #footer {
            height: 80px;
            background-color: Teal;
            clear: both;
        }