ul.nav {
    /*
    list-style-type: none;
    padding: 0;
*/
    
    list-style-type: none;
    padding-left: 0px;
}

a.navitem {
    text-decoration: none;
    display: block;
    width: 60px;
    height: 20px;
    padding: 4px;
    margin: 4px;
}

.blackwhite {
    background-color: blue;
    color: white;
}

ul.nav.horizontal {
    /* element with overflow applied auto or hidden will extend as large as it needs to encompass child elements that are floated */
    
    background-color: lightgreen;
    overflow: auto;
}

ul.nav.horizontal > li {
    float: left;
}