* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: -webkit-flex;
    display: flex;
    border: solid #39466b 1px;
    margin: 10px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

section {
    border: solid tomato 1px;
}

/* code to focus on */

/* flex-shrink default is 1 */
/* flex-basis default value:
/* if flex is not set, flex-basis is auto, that means it is relative flex */
/* if flex is set, but it lacks of flex-basis value such as flex: 1 or flex: 1 1, then flex-basis is 0, that means it is absolute flex */

nav {
    flex: none;
}

.content {
    flex: 4;
}