.container {
    background-color: #080d0b;
    overflow: auto;
}

.item {
    color: red;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    height: 100px;
    background-color: aqua;
    border: solid #5a451e 2px;
    box-sizing: border-box;
}

.i1 {
    height: 40px;
    line-height: 40px;
}

.i2 {
    height: 60px;
    line-height: 60px;
}

.i3 {
    height: 80px;
    line-height: 80px;
}

.i4 {
    height: 40px;
    line-height: 40px;
}

.i5 {
    height: 60px;
    line-height: 60px;
}

.i6 {
    height: 80px;
    line-height: 80px;
}