.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    flex-basis: 100%;
}

.i1 {
    flex-basis: auto;
    flex-grow: 1;
}

.i2 {
    flex-basis: auto;
    flex-grow: 2;
}

.i3 {
    flex-basis: auto;
    flex-grow: 3;
}