.container {
    width: 50%;
    display: flex;
    border-radius: 5px;
    background-color: gray;
}

.item {
    border-radius: 5px;
    text-align: center;
    background-color: lightgrey;
    padding: 2px 0px;
    margin: 2px;
}

.long {
    margin: 2px 0px;
}

.basis0 {
    flex-basis: 0;
}

.basisauto {
    flex-basis: auto; /* auto is default */
}
.short1, .long {
    flex-grow: 1;
}

.short2 {
    flex-grow: 2;
}