div {
    border-radius: 5px;
    font-size: 1em;
}

.header {
    height: 80px;
    background-color: SkyBlue;
}

.nav {
    height: 300px;
    width: 20%;
    background-color: SpringGreen;
    float: left;
}

.content {
    height: 300px;
    width: 80%;
    background-color: Wheat;
    float: right;
}

.footer {
    height: 80px;
    background-color: Tomato;
    clear: both;
}